.mg-manager {
	display: grid;
	grid-template-columns: 10fr 250px;
	width: 100%;
	height: calc(100% - var(--topMenuSize));
	position: fixed;
	top: var(--topMenuSize);
	left: 0;
}

.mg-manager > div:first-child { background-color: #666 }

.mg-struct-panel {
	display: block;
	width: calc(100% - 250px);
	height: calc(100% - var(--topMenuSize));
	position: fixed;
	top: var(--topMenuSize);
	left: 0;
}

.mg-structs {
	height: calc(100% - 40px);
	padding: 10px;
	overflow-y: auto;
}

.mg-structs > div {
	display: flex;
	width: 100%;
	padding: 5px;
	margin: 5px 0;
	background-color: #222;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color ease-in-out .2s;
}

.mg-structs > div[active] { background-color: #1975dd; }

.mg-structs > div > p {
	display: flex;
	align-items: center;
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 5px;
	color: #fff;
}

.mg-structs > div > div {
	display: flex;
	align-items: center;
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 10px;
}

.mg-structs > div > div > input {
	display: block;
	width: 100%;
	padding: 7px 10px;
	background-color: transparent;
	color: #fff;
	border: 1px dotted transparent;
	border-radius: 4px;
}

.mg-structs > div > div > input:hover,
.mg-structs > div > div > input:focus { border-color: #fff }

.mg-manager > div:last-child {
	display: block;
	width: 250px;
	height: calc(100% - var(--topMenuSize));
	position: fixed;
	top: var(--topMenuSize);
	right: 0;
	border-left: 1px solid #222;
}

.mg-manager > div:last-child > div:first-child,
.mg-struct-panel > div:first-child {
	display: flex;
	height: 40px;
	align-items: center;
	background-color: #444;
	border-bottom: 1px solid #222;
}

.mg-manager > div:last-child > div:first-child > div,
.mg-struct-panel > div:first-child > div {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}

.mg-manager > div:last-child > div:first-child > div:hover,
.mg-struct-panel > div:first-child > div:hover { color: #f00 }

.mg-container {
	height: calc(100% - 40px);
	padding: 10px;
	overflow-y: auto;
	background-color: #555;
}

.mg-container > div {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	background-color: #222;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color ease-in-out .2s;
}

.mg-container > div[active] { background-color: #1975dd }

.mg-structs > div[active] > p::selection,
.mg-container > div[active]::selection { background-color: #e00 }

.mg-add-panel,
.mg-add-struct {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100% - var(--topMenuSize));
	background-color: #000a;
	position: fixed;
	top: var(--topMenuSize);
	left: 0;
	z-index: +1;
}

.mg-add-panel > form,
.mg-add-struct > form {
	display: block;
	width: 350px;
	height: auto;
	padding: 20px;
	background-color: #fff;
	color: #222;
	position: relative;
}

.mg-add-panel > form > label,
.mg-add-struct > form > label {
	display: block;
	width: 100%;
	padding: 8px 0;
	text-align: left;
	user-select: none;
}

.mg-add-panel > form > input,
.mg-add-panel > form > select,
.mg-add-struct > form > input,
.mg-add-struct > form > select {
	display: block;
	width: 100%;
	padding: 7px 10px;
	margin-bottom: 15px;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 4px;
	text-align: left;
	transition: border-color ease-in-out .2s;
}

.mg-add-panel > form > input:hover,
.mg-add-panel > form > select:hover,
.mg-add-panel > form > input:focus,
.mg-add-panel > form > select:focus,
.mg-add-struct > form > input:hover,
.mg-add-struct > form > input:focus,
.mg-add-struct > form > select:hover,
.mg-add-struct > form > select:focus { border-color: #3288eb }

/* Release Notes */
#release-maker {
	background-color: #fff;
	padding: 20px;
	overflow-y: auto;
	cursor: default;
}

#release-maker > h1 {
	display: block;
	width: 100%;
	color: #222;
	font-size: 18px;
	margin: 50px 0 10px 0;
}

#release-maker > input {
	display: block;
	width: 100%;
	padding: 7px 10px;
	color: #222;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#release-maker > div > div:first-child {
	width: 100%;
}

#release-maker > div > div:first-child > div {
	display: block;
	width: 100%;
	margin: 5px 0;
}

#release-maker > div > div:first-child > div > input {
	display: inline-block;
	width: 80%;
	padding: 7px 10px;
	color: #222;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#release-maker > div > div:first-child > div > div {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	margin-left: 8px;
	background-color: #f00;
	color: #fff;
	border-radius: 50%;
	font-size: 20px;
	cursor: pointer;
}

#release-maker > div > div:last-child {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	margin-top: 10px;
	user-select: none;
	background-color: #eee;
	border-radius: 50%;
	font-size: 24px;
	cursor: pointer;
}

/* Icon */
#icon-manager {
	display: block;
	width: 100%;
	height: calc(100% - var(--topMenuSize));
	padding: 20px;
	background-color: #fff;
	overflow-y: auto;
	position: fixed;
	top: var(--topMenuSize);
	left: 0;
	z-index: 101;
	cursor: default;
}

#icon-manager-container {
	display: block;
	width: 100%;
	padding: 10px 0;
	text-align: center;
}

#icon-manager-container > div {
	display: inline-block;
	width: auto;
	padding: 5px;
	margin: 5px;
	background-color: transparent;
	color: #222;
	border: 1px solid #ddd;
	border-radius: 4px;
	position: relative;
}

#icon-manager-container > div > svg {
	display: block;
	width: 40px;
	height: 40px;
	margin: 10px auto;
}

#icon-manager-container > div > p {
	display: block;
	padding: 2px;
	margin-top: 5px;
	text-align: center;
}

#icon-manager-container > div > div {
	display: none;
	justify-content: center;
	align-items: center;
	width: 15px;
	height: 15px;
	background-color: #e00b;
	color: #fff;
	border-radius: 0 5px 0 4px;
	font-size: 14px;
	line-height: 0;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	user-select: none;
}

#icon-manager-container > div:hover > div { display: flex }
#icon-manager-container > div > div:hover { background-color: #e00a }

#icon-manager-add {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100% - var(--topMenuSize));
	position: fixed;
	top: var(--topMenuSize);
	left: 0;
	user-select: none;
	z-index: +1;
}

#icon-manager-add > div:first-child {
	width: 100%;
	height: 100%;
	background-color: #000c;
	position: absolute;
	top: 0;
	left: 0;
}

#icon-manager-add > div:last-child {
	display: block;
	width: calc(100% - 80px);
	height: calc(100% - 60px);
	padding: 10px;
	background-color: #fff;
	overflow-y: auto;
	position: relative;
	z-index: +1;
}

#icon-manager-add > div:last-child > p {
	display: block;
	width: 100%;
	font-size: .9rem;
	padding: 2px 0;
}

#icon-manager-add > div:last-child > input,
#icon-manager-add > div:last-child > textarea,
#icon-manager-add-svg > textarea {
	display: block;
	width: 100%;
	padding: 7px 10px;
	margin-bottom: 32px;
	font-size: 1rem;
	border: 1px solid #ddd;
	border-radius: 4px;
	transition: .2s ease-in-out border-color;
}

#icon-manager-add > div:last-child > input:hover,
#icon-manager-add > div:last-child > textarea:hover,
#icon-manager-add-svg > textarea:hover,
#icon-manager-add > div:last-child > input:focus,
#icon-manager-add > div:last-child > textarea:focus,
#icon-manager-add-svg > textarea:focus { border-color: #5DADE2 }

#icon-manager-add > div:last-child > textarea,
#icon-manager-add-svg > textarea { resize: vertical }

#icon-manager-add-svg {
	display: none;
	width: 100%;
	height: 100%;
	padding: 10px;
	background-color: #fff;
	overflow-y: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: +1;
}