:root {
	--r34x-primary-bg: #aae5a4;
	--r34x-secondary-bg: #93c393;
	--r34x-primary-header: #222;
	--r34x-link: #009;
	--r34x-link-hover: #000;
	--r34x-interactive-normal: rgba(50,50,50,.1);
	--r34x-interactive-hover: #7fb17e;
	--r34x-img-bd-color: #0000ff;
}

.rule34-xxx-page { color: var(--r34x-primary-header) }

.rule34-xxx-menu {
	display: flex;
	width: 100%;
	padding: 5px 10px;
	color: var(--r34x-link);
	user-select: none;
}

.rule34-xxx-menu > div {
	padding: 10px;
	cursor: pointer;
}

.rule34-xxx-menu > div:hover {
	color: var(--r34x-link-hover);
	background-color: var(--r34x-secondary-bg);
}

.rule34-xxx-title {
	display: block;
	width: 100%;
	margin: 15px 0;
	padding: 10px;
	text-align: center;
	font-size: 18px;
}

.rule34-xxx-sides {
	display: grid;
	grid-template-columns: 260px 11fr;
	width: 100%;
}

.rule34-xxx-tags {
	display: block;
	width: 100%;
	padding: 20px;
}

.rule34-xxx-tags > p {
	display: block;
	width: 100%;
	margin-top: 10px;
	font-size: 18px;
	font-weight: 600;
	cursor: default;
}

.rule34-xxx-tags > div { width: 100% }

.rule34-xxx-tags > div > span:first-child {
	margin-right: 5px;
	font-size: 14px;
	color: var(--r34x-link);
	cursor: pointer;
}
.rule34-xxx-tags > div > span:first-child:hover { color: var(--r34x-link-hover); }
.rule34-xxx-tags > div > span:last-child { font-size: 14px }
.rule34-xxx-posts { display: block; width: 100% }

.rule34-xxx-posts > div {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 0 10px 20px 0;
	position: relative;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
}

.rule34-xxx-posts > div:hover { background-color: var(--r34x-interactive-hover) }
.rule34-xxx-posts > div > img { max-width: 100%; max-height: 100% }
.rule34-xxx-posts > div[v] > img { border: 3px solid var(--r34x-img-bd-color) }

.rule34-xxx-posts > div > dl {
	display: block;
	width: 100px;
	height: 30px;
	padding: 5px;
	background-color: #444;
	color: #fff;
	border-radius: 0 0 4px 4px;
	position: absolute;
	top: -25px;
	margin: 0 auto;
	left: 0;
	right: 0;
	transition: background-color .2s, top .2s;
}

.rule34-xxx-posts > div:hover > dl { top: 0 }
.rule34-xxx-posts > div > dl:hover { background-color: var(--r34x-img-bd-color); color: #fff }
.rule34-xxx-posts > div > dl[dl] { background-color: #f3e411; color: #222 }
.rule34-xxx-posts > div > dl[dli] { width: 36px; height: 36px; padding: 3px; background-color: #068cda; }
.rule34-xxx-posts > div > dl[dli] > img { width: 30px; height: 30px; }
.rule34-xxx-posts > div > dl[have] { width: 110px; background-color: #dd00fa; color: #fff }
.rule34-xxx-posts > div > dl[have]:hover { background-color: #b900d1 }

.rule34-xxx-pagination {
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
}

.rule34-xxx-pagination > div {
	display: inline-block;
	margin: 0 3px;
	padding: 2px 6px;
	color: var(--r34x-link);
	border: 1px solid var(--r34x-link);
	cursor: pointer;
}

.rule34-xxx-pagination > div:hover { color: #fff; background-color: var(--r34x-link) }

.rule34-xxx-pagination > span {
	margin: 0 3px;
	padding: 2px 6px;
	cursor: default;
}