:root {
	--r34x-primary-bg: #aae5a4;
	--r34x-secondary-bg: #93c393;
	--r34x-primary-header: #222;
	--r34x-link: #009;
	--r34x-link-hover: #000;
	--r34x-interactive-normal: rgba(50,50,50,.1);
	--r34x-interactive-hover: #7fb17e;
	--r34x-img-bd-color: #0000ff;

	--r34x-dl-bg-noraml: #444;
}

.rule34-xxx-page { color: var(--r34x-primary-header) }

.rule34-xxx-menu {
	display: flex;
	width: 100%;
	padding: 5px 10px;
	color: var(--r34x-link);
	user-select: none;
}

.rule34-xxx-menu > div {
	padding: 10px;
	cursor: pointer;
}

.rule34-xxx-menu > div:hover {
	color: var(--r34x-link-hover);
	background-color: var(--r34x-secondary-bg);
}

.rule34-xxx-title {
	display: block;
	width: 90%;
	margin: 15px auto;
	padding: 10px;
	text-align: center;
	font-size: 18px;
}

.rule34-xxx-sides {
	display: flex;
	flex-flow: row;
	width: 100%;
}

.rule34-xxx-sides > div:first-child { width: 260px }
.rule34-xxx-sides > div:last-child { width: calc(100% - 260px) }

.rule34-xxx-sides > div:last-child > dlr {
	display: block;
	width: 100%;
	padding: 10px 10px 0 10px;
	margin: 10px 0 0 0;
	color: #222;
	user-select: none;
	cursor: pointer;
}

.rule34-xxx-sides > div:last-child > dlr > * {
	display: inline-block;
	margin: 0 10px;
	padding: 8px 10px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	box-shadow: 1px 1px 3px 0 #000a;
	transition: background-color ease .2s;
}

.rule34-xxx-sides > div:last-child > dlr > img {
	width: 32px;
	height: 32px;
	padding: 0;
	background-color: var(--r34x-link);
	cursor: default;
	box-shadow: none;
	transition: none;
}

.rule34-xxx-sides > div:last-child > dlr > div:first-child { background-color: #2d8bdc }
.rule34-xxx-sides > div:last-child > dlr > div:first-child:hover { background-color: #1474c7 }
.rule34-xxx-sides > div:last-child > dlr > div:last-child { background-color: #4f729b }
.rule34-xxx-sides > div:last-child > dlr > div:last-child:hover { background-color: #3e5979 }

.rule34-xxx-sides > div:last-child > dlr > div:first-child { background-color: #2d8bdc }
.rule34-xxx-sides > div:last-child > dlr > div:first-child:hover { background-color: #1474c7 }
.rule34-xxx-sides > div:last-child > dlr > div:last-child { background-color: #4f729b }
.rule34-xxx-sides > div:last-child > dlr > div:last-child:hover { background-color: #3e5979 }

.rule34-xxx-tags {
	display: block;
	width: 100%;
	padding: 20px;
}

.rule34-xxx-tags > p {
	display: block;
	width: 100%;
	margin-top: 10px;
	font-size: 18px;
	font-weight: 600;
	cursor: default;
}

.rule34-xxx-tags > div { width: 100% }

.rule34-xxx-tags > div > span:first-child {
	margin-right: 5px;
	font-size: 14px;
	color: var(--r34x-link);
	cursor: pointer;
}
.rule34-xxx-tags > div > span:first-child:hover { color: var(--r34x-link-hover); }
.rule34-xxx-tags > div > span:last-child { font-size: 14px }
.rule34-xxx-posts { display: block; width: 100%; padding-left: 10px }

.rule34-xxx-posts > div {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 0 10px 20px 0;
	position: relative;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	user-select: none;
}

.rule34-xxx-posts > div:hover { background-color: var(--r34x-interactive-hover) }
.rule34-xxx-posts > div > img { max-width: 100%; max-height: 100% }
.rule34-xxx-posts > div[v] > img { border: 3px solid var(--r34x-img-bd-color) }

.rule34-xxx-posts > div > dl {
	display: block;
	width: 100px;
	height: 30px;
	padding: 5px;
	background-color: var(--r34x-dl-bg-noraml);
	color: #fff;
	border-radius: 0 0 4px 4px;
	position: absolute;
	top: -25px;
	margin: 0 auto;
	left: 0;
	right: 0;
	transition: background-color .2s, top .2s;
	z-index: +1;
}

.rule34-xxx-posts > div:hover > dl { top: 0 }
.rule34-xxx-posts > div > dl:hover { background-color: var(--r34x-img-bd-color); color: #fff }
.rule34-xxx-posts > div > dl[dl] { background-color: #f3e411; color: #222 }
.rule34-xxx-posts > div > dl[dli] { width: 36px; height: 36px; padding: 3px; background-color: #068cda; }
.rule34-xxx-posts > div > dl[dli] > img { width: 30px; height: 30px; }
.rule34-xxx-posts > div > dl[have] { width: 110px; background-color: #dd00fa; color: #fff }
.rule34-xxx-posts > div > dl[have]:hover { background-color: #b900d1 }

.rule34-xxx-pagination {
	width: 100%;
	height: 70px;
	text-align: center;
	user-select: none;
}

.rule34-xxx-pagination > div {
	display: inline-block;
	margin: 0 3px;
	padding: 2px 6px;
	color: var(--r34x-link);
	border: 1px solid var(--r34x-link);
	cursor: pointer;
}

.rule34-xxx-pagination > div:hover { color: #fff; background-color: var(--r34x-link) }

.rule34-xxx-pagination > span {
	margin: 0 3px;
	padding: 2px 6px;
	cursor: default;
}

.rule34-xxx-image {
	display: block;
	width: auto;
	max-width: 95%;
	height: auto;
	margin: 10px auto;
	cursor: zoom-in;
}

.rule34-xxx-search {
	display: block;
	margin: 20px 0;
	width: 100%;
}

.rule34-xxx-search > input {
	display: block;
	width: 280px;
	padding: 5px 10px;
	margin: 0 auto;
	background-color: #fff;
	color: #222;
	border: 1px solid #000;
}

.rule34-xxx-table {
	display: block;
	width: 96%;
	margin: 10px auto 40px auto;
	color: #222;
	font-size: 14px;
	border-collapse: collapse;
	border-spacing: 0;
}

.rule34-xxx-table > div {
	display: grid;
	grid-template-columns: 1fr 5fr 5fr;
	width: 100%;
	height: 19px;
	border-width: 0 1px 1px 1px;
	border-style: dotted;
	border-color: #eee;
	cursor: default;
}

.rule34-xxx-table > div:nth-child(even) { background-color: var(--r34x-interactive-normal) }
.rule34-xxx-table > div:hover { background-color: var(--r34x-interactive-hover) }

.rule34-xxx-table > div:first-child {
	height: 22px;
	background-color: var(--r34x-secondary-bg);
	color: #fff;
	border-width: 1px;
	font-size: 15px;
	font-weight: 600;
	user-select: none;
}

.rule34-xxx-table > div > div { padding: 1px 4px; border-left: 1px dotted #eee }
.rule34-xxx-table > div > div:first-child { border: none }
.rule34-xxx-table > div > div > p { color: var(--r34x-link); cursor: pointer }
.rule34-xxx-table > div > div > p:hover { color: var(--r34x-link-hover) }

.r34x-pool > div { grid-template-columns: 7fr 2fr 2fr 1fr }

.rule34-xxx-alert {
	display: block;
	width: 90%;
	padding: 10px 0;
	margin: 20px auto;
	text-align: center;
	background-color: var(--r34x-secondary-bg);
	color: #222;
}